{% extends 'base.html' %}

{% block title %}{{ page.seo_title|default:page.title }}{% endblock %}

{% block content %}
    {% for section in sections %}
        {% if section.is_visible %}
            {% with data=section.data %}
                {% if section.type == 'hero' %}
                    {% include 'sections/hero.html' %}
                {% elif section.type == 'text' %}
                    {% include 'sections/text.html' %}
                {% elif section.type == 'counters' %}
                    {% include 'sections/counters.html' %}
                {% elif section.type == 'cards' %}
                    {% include 'sections/cards.html' %}
                {% elif section.type == 'team' %}
                    {% include 'sections/team.html' %}
                {% elif section.type == 'steps' %}
                    {% include 'sections/steps.html' %}
                {% elif section.type == 'table' %}
                    {% include 'sections/table.html' %}
                {% elif section.type == 'chart_pie' %}
                    {% include 'sections/chart_pie.html' %}
                {% elif section.type == 'form' %}
                    {% include 'sections/form.html' %}
                {% elif section.type == 'faq' %}
                    {% include 'sections/faq.html' %}
                {% elif section.type == 'testimonials' %}
                    {% include 'sections/testimonials.html' %}
                {% endif %}
            {% endwith %}
        {% endif %}
    {% endfor %}
{% endblock %}