{% extends 'base.html' %}

{% block title %}{{ page.seo_title|default:page.title }}{% endblock %}

{% block content %}
    {% for section in sections %}
        {% if section.is_visible %}
            {% with data=section.data %}
                {% if section.type == 'hero' %}
                    {% include 'sections/hero.html' %}
                {% elif section.type == 'text' %}
                    {% include 'sections/text.html' %}
                {% elif section.type == 'counters' %}
                    {% include 'sections/counters.html' %}
                {% elif section.type == 'cards' %}
                    {% include 'sections/cards.html' %}
                {% endif %}
            {% endwith %}
        {% endif %}
    {% endfor %}
{% endblock %}