{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <article>
        <h1>{{ article.title }}</h1>
        {% if article.cover %}
            <img src="{{ article.cover.url }}" alt="{{ article.title }}">
        {% endif %}
        <time>{{ article.published_at|date:"d.m.Y" }}</time>
        {% if article.category %}
            <span>{{ article.category.name }}</span>
        {% endif %}
        <div class="article-content">
            {{ article.content|linebreaks }}
        </div>
    </article>
    <a href="/news/">← Все новости</a>
{% endblock %}