<section class="section section-faq" id="section-{{ section.pk }}">
    <div class="container">
        {% if section.title %}
            <h2 class="section__title">{{ section.title }}</h2>
        {% endif %}
        <div class="faq-list faq-list--{{ data.icon_style|default:'arrow' }}">
            {% for item in data.items %}
                <details class="faq-item">
                    <summary class="faq-dt">{{ item.question }}</summary>
                    <div class="faq-dd ql-content">{{ item.answer|safe }}</div>
                </details>
            {% endfor %}
        </div>
    </div>
</section>