<section class="section section--alt section-table" id="section-{{ section.pk }}">
    <div class="container">
        {% if section.title %}
            <h2 class="section__title">{{ section.title }}</h2>
        {% endif %}
        <div class="table-scroll">
            <table class="cms-table-front table--{{ data.style|default:'zebra' }}">
                {% if data.headers %}
                    <thead>
                        <tr>
                            {% for header in data.headers %}
                                <th>{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                {% endif %}
                <tbody>
                    {% for row in data.rows %}
                        <tr>
                            {% for cell in row %}
                                {% if forloop.first and data.style == 'first_col' or data.style == 'both' %}
                                    <td class="cell--bold">{{ cell }}</td>
                                {% else %}
                                    <td>{{ cell }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>